<!DOCTYPE html>
<html>

<% include ../partials/head %>

<body>
    <% include ../partials/header %>
    <main>
        <div class="jumbotron">
            <h1>OAuth Basics Homepage</h1>
            <p>The Net Ninja OAuth tutorial, now in bootstrap!</p>
        </div>
    </main>
    <% include ../partials/footer %>
</body>

</html>