<!DOCTYPE html>
<html>

<% include ../partials/head %>

<body>
    <% include ../partials/header %>
    <main>
        <div class="jumbotron">
            <h1><%= user.username%></h1>
        </div>
    </main>
    <% include ../partials/footer %>
</body>

</html>